<fieldset class="appsinside">
  <h4>Vehicles</h4>
  <div class="nested">
  <%= f.fields_for :vehicles do |u| %>
  	<fieldset>
    	<%= render :partial => 'vehicles/create',  :locals => {:f => u }  %>
   	</fieldset>
  <% end %>
  </div>
  <%= link_to_add_fields "Add Vehicle", f, :vehicles %>
</fieldset>