<% provide(:title, 'YourDoor: Simple, easy rental applications online.') %>
<div class="photobox">
	
	<div class="container">
      <div class="content">

	         <div class="row" style="padding-top: 150px;">
	          <div class="span5">
		
				<h1>Apply for your new apartment today.</h1>
				<p>
				<h3>YourDoor is a simple, easy way for prospective tenants to submit rental applications (with credit checks) to brokers and landlords.</h3></p>
				<br/><br/>
				  <%= puts user_signed_in? %>
				  <% if user_signed_in? %>
				  		<%= render 'returning' %>
				  <% else %>
				  		<%= render 'new' %>
				  <% end %>
	          </div>
	          <div class="span7">

	          </div>
	        </div>

      </div>
    </div> <!--! end of .container -->

	
</div>	
<div class="instructions">
	<div class="container">
		<div class="row">
			<div class="span6">
				<h3>For Renters</h3>
				<p>
				Land your dream apartment with our easy-to-use online rental application.  Beat other renters to the punch by submitting your app with YourDoor from your computer or smartphone.  Don't spend weeks coordinating with roommates or searching for a fax machine.  </p>
				</div>
				<div class="span6">
					<h3>For Landlords &amp; Brokers</h3><p>
					Stop wasting time faxing and delivering rental application forms.  Direct prospective tenants to YourDoor and get simple credit reports delivered instantly to your email inbox.  You won’t even need to make an account or log in.  Lose the fax machine and make trees happy.</p>
				</div>


			</div>
			<div class="row">

				<div class="span12">
					<hr>
					<h2>How To Use YourDoor:</h2>
				</div>
			</div>
			<div class="row">
				<div class="span3">
			      <img src="http://placehold.it/260x180" alt="" class="thumbnail">
			  </div>
			  <div class="span9">
				<div class="instruction">
				<h3>1)  Click "Apply Online Now!"</h3>

				Click the Apply button above, put in your email address and create a password, and you’ll be taken directly to your application.
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="span9">
				<div class="instruction">
				<h3>2)  Fill out the form</h3>

				Follow the steps to fill out our application, and when complete, hit submit to instantly send your application and TransUnion credit report.  We’ll also send you a copy, so that you can see the information we get.
							</div>
			  </div>

				<div class="span3">
			      <img src="http://placehold.it/260x180" alt="" class="thumbnail">
			  </div>
			</div>			
			<div class="row clearfix">
				<div class="span3">
			      <img src="http://placehold.it/260x180" alt="" class="thumbnail">
			  </div>
			  <div class="span9">
				<div class="instruction">
				<h3>3)  Got Roommates?</h3>
				If you're applying with other people, simply click the Add Roommate button, and we’ll send a link to your future co-inhabitant to fill out an application.  When finished, we’ll make sure the landlord gets all your information at the same time.
				</div>
			  </div>
			  		
			</div>
			<% if !user_signed_in? %>

				  		<%= render 'new' %>

			  <% end %>	
	        <footer>
			<hr>
					&copy; YourDoor 2012
	        </footer>

	</div> <!--! end of .container -->
</div>