<p id="notice"><%= notice %></p>

<p>
  <b>Stripe charge token:</b>
  <%= @payment.stripe_charge_token %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
