// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { padding-top: 0px; }

.content { padding-top: 140px; }

#checkEmail{
    color: white;
}

#checkEmail{
    color: white;
}


.photobox {
	background-image: url("/assets/main_bg.jpg")	;
	background-size: auto 100%; 
	width: 100%;
	height: 600px;
	z-index: -2;
	position: fixed;
	top: 0;
}


.photobox .transbox
{
  width: 100%;
  z-index: -2;
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.4);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  padding: 10px;
}

.photobox h1
{
   color: #fff;	
}

.photobox h3
{
   color: #fff;	
}



.instructions {
	border-top: 3px;
	border-color: black;
	position: relative;
	z-index: 501;
	margin-top: 600px;
	background: white;
	padding-top: 20px;
	width: 100%;
	box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);
}


.instructions h2 {
	text-align: center;
	padding-bottom: 20px;
}


.instructions .container .row .span9 .instruction {
	padding-top: 40px;
}

@media (max-width: 767px) {
.instructions {

	padding-right: 20px;
}}