// Place all the styles related to the r_apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.appssection .field, .appsinside .field {
	float:left;
  margin: 6px;
}

.appssection {
	clear:both;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h4 {
  display: block;
  width: auto;
  background: #D4D2D2;
  margin-bottom: 8px;
  border-bottom: 1px solid black;
  padding-left: 6px;
  font-size: 18px;
  line-height: 1.5em;
  font-weight:bold;
  text-align: center;
}

fieldset {
  margin-top: 6px;
  border: 1px solid black;
  page-break-after: auto;
}

.dob {
  clear:both;
  float:left;
}

.dln {
  clear:both;
  float:left;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}

.actions {
  margin-top:15px;
}

#appstitle {
  text-align: center;
}